################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio
.vs/

# .NET
bin/
obj/

# Angular
node_modules/
dist/

# Logs
*.log

# Database
*.db